@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Montserrat:wght@300;400&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

body {
  height: 100vh;
  background-image: linear-gradient(#a2d2ff, #ffafcc);
}
.hoverbutton {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  padding: 0.8em 1.8em;
  border: 2px solid #fff3b0;
  border-radius: 2%;
  color: #fff3b0;
  background-color: black;
  transition: 0.25s ease-in;
}
.hoverbutton:hover {
  color: #ffe66d;
  border-color: #ffe66d;
  background-color: #2a9d8f;
  transform: translateY(-0.5em);
  cursor: pointer;
  box-shadow: 0 0.5em 0.5em -0.4em #007ea7;
}
.desc {
  font-family: "Poiret One", cursive;
  padding-bottom: 2rem;
  font-size: 3rem;
}
div {
  margin-top: 19%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
