@media (max-width:770px){
    .desc{
        font-size: 2rem;
    }
}
@media (max-width:695px){
    nav ul{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    l1 a {
        margin: .8rem .2rem;
    }
}
@media (max-width:475px){
    .desc{
        font-size: 1.6rem;
    }
}
